@mixin font {
    font: 12px Helvetica, Arial, sans-serif;
    line-height: 1.62;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    padding-top: 30px;
    @include font;
    height: 2000px;
}

.header {
    width: 950px;
    margin: 0 auto 25px;
    .nav-link {
        float: right;
        margin-top: 6px;
        ul {
            li {
                display: inline-block;
                zoom: 1;
                margin: 0 0 0 17px;
                a {
                    display: inline-block;
                    zoom: 1;
                    width: 40px;
                    height: 20px;
                    overflow: hidden;
                    margin: 0;
                    line-height: 20em;
                    outline: none;
                    vertical-align: middle;
                    background: url("/assets/images/anony_nav_logo.png")
                }
                .ink-book {
                    background-position: 0 0;
                }
                .lnk-movie {
                    background-position: -60px 0;
                }
                .lnk-music {
                    background-position: -120px 0;
                }
                .lnk-group {
                    background-position: -180px 0;
                }
                .lnk-events {
                    background-position: -299px 0;
                }
                .lnk-fm {
                    background-position: -241px 0;
                }
                .lnk-shijian {
                    margin-bottom: 1px;
                    background: url("/assets/images/ic_shijian_home_nav.png") no-repeat 100% 100%;
                    background-size: cover;
                }
                .lnk-market {
                    width: 42px;
                    background-position: -421px 0;
                }
            }
        }
    }
    h1 {
        display: inline-block;
        zoom: 1;
        vertical-align: middle;
        width: 160px;
        height: 34px;
        margin: 0 20px 0 0;
        padding: 0;
        font-size: 12px;
        font-weight: normal;
        background: url("/assets/images/logo_db.png") no-repeat 0 0;
        overflow: hidden;
        a {
            display: block;
            height: 34px;
            line-height: 10em;
        }
    }
    .anony-srh {
        position: relative;
        display: inline-block;
        zoom: 1;
        vertical-align: middle;
        width: 270px;
        height: 30px;
        border: 1px solid #c3c3c3;
        form {
            margin: 0;
            padding: 0;
            border: 0px;
            .inp {
                display: block;
                height: 30px;
                overflow: hidden;
                input {
                    width: 240px;
                    border: none;
                    outline: none;
                    font-size: 13px;
                    height: 20px;
                    padding: 5px;
                    margin-right: 3px;
                    vertical-align: middle;
                    font-family: inherit;
                    font-style: inherit;
                    font-weight: inherit;
                    &::-webkit-input-placeholder {
                        color: #ccc;
                    }
                }
            }
            .bn {
                position: absolute;
                right: 0;
                top: 0;
                width: 30px;
                height: 30px;
                overflow: hidden;
                cursor: pointer;
                background: url("/assets/images/bn_srh_1.png") 50% 50% no-repeat;
                input {
                    border: none;
                    background: transparent;
                    overflow: hidden;
                    width: 30px;
                    height: 30px;
                    font-size: 0;
                    color: transparent;
                    cursor: pointer;
                    margin-right: 3px;
                    vertical-align: middle;
                }
            }
        }
    }
}

#anony-reg-new {
    margin-bottom: 25px;
    background-image: url("/assets/images/doubanapp5_bg.png");
    background-size: contain;
    background-position: calc(50% - 305px) top;
    background-repeat: no-repeat;
    background-color: #edf4ed;
    height: 214px;
    .wraper {
        position: relative;
        padding: 28px 0 4px;
        overflow: visible;
        width: 950px;
        height: 182px;
        zoom: 1;
        margin: 0 auto;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            height: 214px;
            left: 0;
            right: 0;
            z-index: 0;
            background-image: url("/assets/images/doubanapp5.png");
            background-repeat: no-repeat;
            background-position: 0 -150px;
        }
        .app {
            z-index: 2;
            position: absolute;
            height: 120px;
            width: 150px;
            top: 0;
            bottom: 0;
            margin: auto 0 auto 430px;
            .app-title {
                margin: 7px 0;
                font-size: 25px;
                color: #111;
                line-height: 24px;
                span {
                    color: #111;
                    margin-left: 10px;
                    font-weight: 100;
                }
            }
            .app-slogan {
                color: #111;
                width: 150px;
                display: block;
                margin: 0 0 18px;
                font-size: 0;
                color: #111;
                span {
                    font-size: 12px;
                    letter-spacing: 2px;
                }
            }
            .lnk-app {
                background: #00B51D;
                color: #FFF;
                display: inline-block;
                zoom: 1;
                padding: 9px 21px;
                vertical-align: top;
                border-radius: 2px;
                font-size: 12px;
                line-height: 1;
                float: left;
            }
            .app-qr {
                display: inline-block;
                zoom: 1;
                position: relative;
                margin-left: 5px;
                height: 30px;
                float: left;
                &:hover {
                    .app-qr-expand {
                        display: block;
                    }
                }
                .lnk-qr {
                    display: inline-block;
                    zoom: 1;
                    border: 1px solid #48aa0d;
                    border-radius: 2px;
                    width: 28px;
                    height: 28px;
                    img {
                        width: 100%;
                    }
                }
                .app-qr-expand {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 20px 20px 5px;
                    border-radius: 2px;
                    text-align: center;
                    font-size: 13px;
                    color: #666;
                    background: #fff;
                    line-height: 13px;
                    white-space: nowrap;
                    img {
                        width: 160px;
                        height: 160px;
                    }
                    p {
                        text-align: center;
                        font-size: 13px;
                        color: #666;
                        background: #fff;
                        line-height: 13px;
                        margin-top: 13px;
                        margin-top: 13px;
                        white-space: nowrap;
                    }
                }
            }
        }
        .login {
            position: relative;
            z-index: 2;
            width: 270px;
            float: right;
            margin-bottom: 15px;
            font-size: 0;
            #lzform {
                margin: 0;
                padding: 0;
                border: 0px;
                display: block;
                fieldset {
                    margin: 0;
                    padding: 0;
                    border: 0px;
                    legend {
                        display: none;
                    }
                    .item {
                        vertical-align: top;
                        text-align: left;
                        font-size: 0;
                        letter-spacing: normal;
                        word-spacing: normal;
                        position: relative;
                        margin-bottom: 4px;
                        height: 32px;
                    }
                    @mixin inputstyle {
                        position: relative;
                        border-radius: 2px;
                        background: #fff;
                        width: 268px;
                    }
                    @mixin ipstyle {
                        border: 1px solid #DBE5DB;
                        border-radius: 2px;
                        width: 252px;
                        padding: 0 8px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 12px;
                    }
                    .item-account,
                    .item-passwd,
                    .item-captcha {
                        @include inputstyle;
                        input {
                            @include ipstyle;
                        }
                    }
                    .item-passwd {
                        .help {
                            position: absolute;
                            top: 0;
                            right: 10px;
                            font-size: 12px;
                            line-height: 35px;
                            a {
                                color: #ccc;
                            }
                        }
                    }
                    .item-captcha {
                        img {
                            width: 158px;
                            height: 26px;
                            vertical-align: middle;
                            position: absolute;
                            right: 1px;
                            top: 3px;
                            cursor: pointer;
                        }
                    }
                    .item-submit {
                        margin-top: 6px;
                        vertical-align: top;
                        text-align: left;
                        font-size: 0;
                        letter-spacing: normal;
                        word-spacing: normal;
                        >input {
                            padding: 0 22px;
                            margin-right: 0;
                            height: 30px;
                            font-size: 12px;
                            border: none;
                            border-radius: 2px;
                            cursor: pointer;
                            background: #30A080;
                            border-color: #30A080;
                            color: #fff;
                            width: 89px;
                            box-sizing: content-box;
                            &:hover {
                                background-color: #2a8c70;
                            }
                        }
                        >a {
                            color: #30A080;
                            background: transparent;
                            display: inline-block;
                            zoom: 1;
                            padding: 8px 21px 7px;
                            vertical-align: top;
                            border-radius: 2px;
                            border: 1px solid #30A080;
                            font-size: 12px;
                            line-height: 1;
                            width: 89px;
                            text-align: center;
                            margin-left: 4px;
                        }
                    }
                    .item-action {
                        font-size: 12px;
                        margin-top: 8px;
                        overflow: hidden;
                        color: #666;
                        label {
                            font-family: Tahoma;
                            vertical-align: middle;
                            input {
                                vertical-align: middle;
                            }
                        }
                        ul {
                            float: right;
                            font-size: 0;
                            margin-top: 3px;
                            margin-right: 4px;
                            li {
                                display: inline-block;
                                a {
                                    &:before {
                                        content: "";
                                        display: inline-block;
                                        width: 14px;
                                        height: 12px;
                                        background-repeat: no-repeat;
                                        background-position: bottom;
                                    }
                                }
                            }
                            .weibo {
                                margin-left: 8px;
                                &:before {
                                    background-image: url("/assets/images/weibo.png");
                                }
                            }
                            .weixin {
                                &:before {
                                    background-image: url("/assets/images/wechat.png");
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#anony-sns {
    padding: 10px 0;
    margin-bottom: 30px;
    min-height: 200px;
    >.wrapper {
        zoom: 1;
        width: 950px;
        margin: 0 auto;
        &:before {
            content: "";
            width: 100%;
            height: 0px;
        }
        >.main {
            overflow: hidden;
            zoom: 1;
            >.mod {
                margin-bottom: 30px;
                width: 655px;
                height: 446px;
                h2 {
                    font: 15px Arial, Helvetica, sans-serif;
                    color: #072;
                    margin: 0 0 12px 0;
                    line-height: 150%;
                    span {
                        font: 12px Arial, Helvetica, sans-serif;
                        line-height: 150%;
                        color: #666666;
                        a {
                            color: #37a;
                        }
                    }
                }
                .albums {
                    float: left;
                    width: 350px;
                    margin-right: 30px;
                    color: #999;
                    font-size: 0;
                    letter-spacing: -0.31em;
                    .picture {
                        margin: -10px 0 0 -10px;
                        li {
                            display: inline-block;
                            zoom: 1;
                            letter-spacing: normal;
                            word-spacing: normal;
                            width: 170px;
                            vertical-align: top;
                            font-size: 12px;
                            margin: 10px 0 0 10px;
                            .pic {
                                display: inline-block;
                                zoom: 1;
                                width: 170px;
                                max-height: 170px;
                                overflow: hidden;
                                vertical-align: middle;
                                white-space: nowrap;
                            }
                            >a {
                                color: #37a;
                            }
                            >span {
                                letter-spacing: normal;
                                word-spacing: normal;
                                vertical-align: top;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .notes {
                    overflow: hidden;
                    zoom: 1;
                    color: #666;
                    ul {
                        li {
                            word-wrap: break-word;
                            margin-top: 12px;
                            a {
                                color: #37a;
                                ;
                            }
                        }
                        .first {
                            margin-top: 0;
                            .author {
                                color: #999;
                            }
                            p {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        >.slide {
            float: right;
            width: 265px;
            margin-left: 30px;
            >.online {
                >ul {
                    margin-top: -4px;
                    >h2 {
                        font: 15px Arial, Helvetica, sans-serif;
                        color: #072;
                        margin: 0 0 12px 0;
                        line-height: 150%;
                        >span {
                            font: 12px Arial, Helvetica, sans-serif;
                            line-height: 150%;
                            color: #666666;
                        }
                    }
                    >.slidenews {
                        margin-top: -4px;
                        li {
                            margin-top: 10px;
                            color: #999;
                            a {
                                color: #37a;
                            }
                            .rec_topics_label {
                                transform: translateY(-0.5px);
                                display: inline-block;
                                font-size: 12px;
                                margin-left: 2px;
                                color: #4CC15F;
                            }
                            .rec_topics_subtitle {
                                display: block;
                                margin-bottom: 15px;
                                font-size: 12px;
                                line-height: 1;
                                color: #aaaaaa;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }
}

#anony-time {
    padding: 40px 0 20px;
    background: #f7f7f7;
    margin-bottom: 30px;
    min-height: 200px;
    >.wrapper {
        zoom: 1;
        width: 950px;
        margin: 0 auto;
        &:before {
            content: "";
            display: block;
            clear: both;
        }
        .sidenav {
            float: left;
            width: 100px;
            margin-right: 20px;
            >h2 {
                font: 15px Arial, Helvetica, sans-serif;
                color: #072;
                margin: 0 0 12px 0;
                line-height: 150%;
                a {
                    color: #494949;
                    font-size: 24px;
                }
            }
        }
        .main {
            overflow: hidden;
            zoom: 1;
            >h2 {
                font: 15px Arial, Helvetica, sans-serif;
                color: #072;
                margin: 0 0 12px 0;
                line-height: 150%;
                .pl {
                    font: 12px Arial, Helvetica, sans-serif;
                    line-height: 150%;
                    color: #666666;
                    a {
                        color: #37a;
                    }
                }
            }
            >ul {
                li {
                    display: inline-block;
                    width: 100px;
                    vertical-align: top;
                    margin-right: 60px;
                    text-align: center;
                    margin-bottom: 30px;
                    .cover {
                        display: block;
                        margin-bottom: 10px;
                        position: relative;
                        img {
                            width: 100px;
                            height: 141px;
                            border-width: 0;
                            vertical-align: middle;
                        }
                    }
                    .title {
                        color: #333333;
                        font-size: 13px;
                        line-height: 1.38;
                    }
                    .type {
                        color: #999999;
                        line-height: 1;
                        margin-top: 10px;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
}

#anony-video {
    padding: 10px 0;
    margin-bottom: 30px;
    min-height: 200px;
    .wrapper {
        zoom: 1;
        width: 980px;
        margin: 0 auto;
        .sidenav {
            float: left;
            width: 100px;
            margin-right: 20px;
            margin-left: 20px;
            .section-title {
                margin-bottom: 15px;
                font: 15px Arial, Helvetica, sans-serif;
                color: #072;
                margin: 0 0 12px 0;
                line-height: 150%;
                a {
                    color: #494949;
                    font-size: 24px;
                }
            }
        }
        .main {
            overflow: hidden;
            zoom: 1;
            h2 {
                margin-bottom: 15px;
                font: 15px Arial, Helvetica, sans-serif;
                color: #072;
                margin: 0 0 12px 0;
                line-height: 150%;
            }
            .video-list {
                margin-bottom: 25px;
                li {
                    display: inline-block;
                    width: 250px;
                    vertical-align: top;
                    margin-right: 20px;
                    .cover {
                        height: 140px;
                        margin-bottom: 11px;
                        a {
                            position: relative;
                            display: block;
                            color: #fff;
                            height: 100%;
                            z-index: 1;
                            img {
                                width: 250px;
                                height: 140px;
                                z-index: 21;
                            }
                            span {
                                position: absolute;
                                right: 10px;
                                bottom: 10px;
                                z-index: 100;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                z-index: 99;
                                margin: auto;
                                background: url("/assets/images/play.png") center/18px no-repeat;
                            }
                        }
                    }
                    .video-title {
                        font-size: 13px;
                        line-height: 1.54;
                        color: #494949;
                    }
                }
            }
        }
    }
}
