* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  padding-top: 30px;
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.62;
}

.header {
  width: 950px;
  margin: 0 auto 25px;
}

.header .nav-link {
  float: right;
  margin-top: 6px;
}

.header .nav-link ul li {
  display: inline-block;
  zoom: 1;
  margin: 0 0 0 17px;
}

.header .nav-link ul li a {
  display: inline-block;
  zoom: 1;
  width: 40px;
  height: 20px;
  overflow: hidden;
  margin: 0;
  line-height: 20em;
  outline: none;
  vertical-align: middle;
  background: url("/assets/images/anony_nav_logo.png");
}

.header .nav-link ul li .ink-book {
  background-position: 0 0;
}

.header .nav-link ul li .lnk-movie {
  background-position: -60px 0;
}

.header .nav-link ul li .lnk-music {
  background-position: -120px 0;
}

.header .nav-link ul li .lnk-group {
  background-position: -180px 0;
}

.header .nav-link ul li .lnk-events {
  background-position: -299px 0;
}

.header .nav-link ul li .lnk-fm {
  background-position: -241px 0;
}

.header .nav-link ul li .lnk-shijian {
  margin-bottom: 1px;
  background: url("/assets/images/ic_shijian_home_nav.png") no-repeat 100% 100%;
  background-size: cover;
}

.header .nav-link ul li .lnk-market {
  width: 42px;
  background-position: -421px 0;
}

.header h1 {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  width: 160px;
  height: 34px;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
  background: url("/assets/images/logo_db.png") no-repeat 0 0;
  overflow: hidden;
}

.header h1 a {
  display: block;
  height: 34px;
  line-height: 10em;
}

.header .anony-srh {
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  width: 270px;
  height: 30px;
  border: 1px solid #c3c3c3;
}

.header .anony-srh form {
  margin: 0;
  padding: 0;
  border: 0px;
}

.header .anony-srh form .inp {
  display: block;
  height: 30px;
  overflow: hidden;
}

.header .anony-srh form .inp input {
  width: 240px;
  border: none;
  outline: none;
  font-size: 13px;
  height: 20px;
  padding: 5px;
  margin-right: 3px;
  vertical-align: middle;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.header .anony-srh form .inp input::-webkit-input-placeholder {
  color: #ccc;
}

.header .anony-srh form .bn {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  background: url("/assets/images/bn_srh_1.png") 50% 50% no-repeat;
}

.header .anony-srh form .bn input {
  border: none;
  background: transparent;
  overflow: hidden;
  width: 30px;
  height: 30px;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  margin-right: 3px;
  vertical-align: middle;
}

#anony-reg-new {
  margin-bottom: 25px;
  background-image: url("/assets/images/doubanapp5_bg.png");
  background-size: contain;
  background-position: calc(50% - 305px) top;
  background-repeat: no-repeat;
  background-color: #edf4ed;
  height: 214px;
}

#anony-reg-new .wraper {
  position: relative;
  padding: 28px 0 4px;
  overflow: visible;
  width: 950px;
  height: 182px;
  zoom: 1;
  margin: 0 auto;
}

#anony-reg-new .wraper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 214px;
  left: 0;
  right: 0;
  z-index: 0;
  background-image: url("/assets/images/doubanapp5.png");
  background-repeat: no-repeat;
  background-position: 0 -150px;
}

#anony-reg-new .wraper .app {
  z-index: 2;
  position: absolute;
  height: 120px;
  width: 150px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 430px;
}

#anony-reg-new .wraper .app .app-title {
  margin: 7px 0;
  font-size: 25px;
  color: #111;
  line-height: 24px;
}

#anony-reg-new .wraper .app .app-title span {
  color: #111;
  margin-left: 10px;
  font-weight: 100;
}

#anony-reg-new .wraper .app .app-slogan {
  color: #111;
  width: 150px;
  display: block;
  margin: 0 0 18px;
  font-size: 0;
  color: #111;
}

#anony-reg-new .wraper .app .app-slogan span {
  font-size: 12px;
  letter-spacing: 2px;
}

#anony-reg-new .wraper .app .lnk-app {
  background: #00B51D;
  color: #FFF;
  display: inline-block;
  zoom: 1;
  padding: 9px 21px;
  vertical-align: top;
  border-radius: 2px;
  font-size: 12px;
  line-height: 1;
  float: left;
}

#anony-reg-new .wraper .app .app-qr {
  display: inline-block;
  zoom: 1;
  position: relative;
  margin-left: 2px;
  height: 30px;
  float: left;
}

#anony-reg-new .wraper .app .app-qr:hover .app-qr-expand {
  display: block;
}

#anony-reg-new .wraper .app .app-qr .lnk-qr {
  display: inline-block;
  zoom: 1;
  border: 1px solid #48aa0d;
  border-radius: 2px;
  width: 28px;
  height: 28px;
}

#anony-reg-new .wraper .app .app-qr .lnk-qr img {
  width: 100%;
}

#anony-reg-new .wraper .app .app-qr .app-qr-expand {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px 5px;
  border-radius: 2px;
  text-align: center;
  font-size: 13px;
  color: #666;
  background: #fff;
  line-height: 13px;
  white-space: nowrap;
}

#anony-reg-new .wraper .app .app-qr .app-qr-expand img {
  width: 160px;
  height: 160px;
}

#anony-reg-new .wraper .app .app-qr .app-qr-expand p {
  text-align: center;
  font-size: 13px;
  color: #666;
  background: #fff;
  line-height: 13px;
  margin-top: 13px;
  margin-top: 13px;
  white-space: nowrap;
}

#anony-reg-new .wraper .login {
  position: relative;
  z-index: 2;
  width: 270px;
  float: right;
  margin-bottom: 15px;
  font-size: 0;
}

#anony-reg-new .wraper .login #lzform {
  margin: 0;
  padding: 0;
  border: 0px;
  display: block;
}

#anony-reg-new .wraper .login #lzform fieldset {
  margin: 0;
  padding: 0;
  border: 0px;
}

#anony-reg-new .wraper .login #lzform fieldset legend {
  display: none;
}

#anony-reg-new .wraper .login #lzform fieldset .item {
  vertical-align: top;
  text-align: left;
  font-size: 0;
  letter-spacing: normal;
  word-spacing: normal;
  position: relative;
  margin-bottom: 4px;
  height: 32px;
}

#anony-reg-new .wraper .login #lzform fieldset .item-account,
#anony-reg-new .wraper .login #lzform fieldset .item-passwd,
#anony-reg-new .wraper .login #lzform fieldset .item-captcha {
  position: relative;
  border-radius: 2px;
  background: #fff;
  width: 268px;
}

#anony-reg-new .wraper .login #lzform fieldset .item-account input,
#anony-reg-new .wraper .login #lzform fieldset .item-passwd input,
#anony-reg-new .wraper .login #lzform fieldset .item-captcha input {
  border: 1px solid #DBE5DB;
  border-radius: 2px;
  width: 252px;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

#anony-reg-new .wraper .login #lzform fieldset .item-passwd .help {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  line-height: 35px;
}

#anony-reg-new .wraper .login #lzform fieldset .item-passwd .help a {
  color: #ccc;
}

#anony-reg-new .wraper .login #lzform fieldset .item-captcha img {
  width: 158px;
  height: 26px;
  vertical-align: middle;
  position: absolute;
  right: 1px;
  top: 3px;
  cursor: pointer;
}

#anony-reg-new .wraper .login #lzform fieldset .item-submit {
  margin-top: 6px;
  vertical-align: top;
  text-align: left;
  font-size: 0;
  letter-spacing: normal;
  word-spacing: normal;
}

#anony-reg-new .wraper .login #lzform fieldset .item-submit > input {
  padding: 0 22px;
  margin-right: 0;
  height: 30px;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: #30A080;
  border-color: #30A080;
  color: #fff;
  width: 89px;
  box-sizing: content-box;
}

#anony-reg-new .wraper .login #lzform fieldset .item-submit > input:hover {
  background-color: #2a8c70;
}

#anony-reg-new .wraper .login #lzform fieldset .item-submit > a {
  color: #30A080;
  background: transparent;
  display: inline-block;
  zoom: 1;
  padding: 8px 21px 7px;
  vertical-align: top;
  border-radius: 2px;
  border: 1px solid #30A080;
  font-size: 12px;
  line-height: 1;
  width: 89px;
  text-align: center;
  margin-left: 4px;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action {
  font-size: 12px;
  margin-top: 8px;
  overflow: hidden;
  color: #666;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action label {
  font-family: Tahoma;
  vertical-align: middle;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action label input {
  vertical-align: middle;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action ul {
  float: right;
  font-size: 0;
  margin-top: 3px;
  margin-right: 4px;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action ul li {
  display: inline-block;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action ul li a:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: bottom;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action ul .weibo {
  margin-left: 8px;
}

#anony-reg-new .wraper .login #lzform fieldset .item-action ul .weibo:before {
  background-image: url("/assets/images/weibo.png");
}

#anony-reg-new .wraper .login #lzform fieldset .item-action ul .weixin:before {
  background-image: url("/assets/images/wechat.png");
}

#anony-sns {
  padding: 10px 0;
  margin-bottom: 30px;
  min-height: 200px;
}

#anony-sns > .wrapper {
  zoom: 1;
  width: 950px;
  margin: 0 auto;
}

#anony-sns > .wrapper:before {
  content: "";
  width: 100%;
  height: 0px;
}

#anony-sns > .wrapper > .main {
  overflow: hidden;
  zoom: 1;
}

#anony-sns > .wrapper > .main > .mod {
  margin-bottom: 30px;
  width: 655px;
  height: 446px;
}

#anony-sns > .wrapper > .main > .mod h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-sns > .wrapper > .main > .mod h2 span {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}

#anony-sns > .wrapper > .main > .mod h2 span a {
  color: #37a;
}

#anony-sns > .wrapper > .main > .mod .albums {
  float: left;
  width: 350px;
  margin-right: 30px;
  color: #999;
  font-size: 0;
  letter-spacing: -0.31em;
}

#anony-sns > .wrapper > .main > .mod .albums .picture {
  margin: -10px 0 0 -10px;
}

#anony-sns > .wrapper > .main > .mod .albums .picture li {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  width: 170px;
  vertical-align: top;
  font-size: 12px;
  margin: 10px 0 0 10px;
}

#anony-sns > .wrapper > .main > .mod .albums .picture li .pic {
  display: inline-block;
  zoom: 1;
  width: 170px;
  max-height: 170px;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
}

#anony-sns > .wrapper > .main > .mod .albums .picture li > a {
  color: #37a;
}

#anony-sns > .wrapper > .main > .mod .albums .picture li > span {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  font-size: 12px;
}

#anony-sns > .wrapper > .main > .mod .notes {
  overflow: hidden;
  zoom: 1;
  color: #666;
}

#anony-sns > .wrapper > .main > .mod .notes ul li {
  word-wrap: break-word;
  margin-top: 12px;
}

#anony-sns > .wrapper > .main > .mod .notes ul li a {
  color: #37a;
}

#anony-sns > .wrapper > .main > .mod .notes ul .first {
  margin-top: 0;
}

#anony-sns > .wrapper > .main > .mod .notes ul .first .author {
  color: #999;
}

#anony-sns > .wrapper > .main > .mod .notes ul .first p {
  display: block;
}

#anony-sns > .wrapper > .slide {
  float: right;
  width: 265px;
  margin-left: 30px;
}

#anony-sns > .wrapper > .slide > .online > ul {
  margin-top: -4px;
}

#anony-sns > .wrapper > .slide > .online > ul > h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-sns > .wrapper > .slide > .online > ul > h2 > span {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}

#anony-sns > .wrapper > .slide > .online > ul > .slidenews {
  margin-top: -4px;
}

#anony-sns > .wrapper > .slide > .online > ul > .slidenews li {
  margin-top: 10px;
  color: #999;
}

#anony-sns > .wrapper > .slide > .online > ul > .slidenews li a {
  color: #37a;
}

#anony-sns > .wrapper > .slide > .online > ul > .slidenews li .rec_topics_label {
  transform: translateY(-0.5px);
  display: inline-block;
  font-size: 12px;
  margin-left: 2px;
  color: #4CC15F;
}

#anony-sns > .wrapper > .slide > .online > ul > .slidenews li .rec_topics_subtitle {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1;
  color: #aaaaaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#anony-time {
  padding: 40px 0 20px;
  background: #f7f7f7;
  margin-bottom: 30px;
  min-height: 200px;
}

#anony-time > .wrapper {
  zoom: 1;
  width: 950px;
  margin: 0 auto;
}

#anony-time > .wrapper:before {
  content: "";
  display: block;
  clear: both;
}

#anony-time > .wrapper .sidenav {
  float: left;
  width: 100px;
  margin-right: 20px;
}

#anony-time > .wrapper .sidenav > h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-time > .wrapper .sidenav > h2 a {
  color: #494949;
  font-size: 24px;
}

#anony-time > .wrapper .main {
  overflow: hidden;
  zoom: 1;
}

#anony-time > .wrapper .main > h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-time > .wrapper .main > h2 .pl {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}

#anony-time > .wrapper .main > h2 .pl a {
  color: #37a;
}

#anony-time > .wrapper .main > ul li {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  margin-right: 60px;
  text-align: center;
  margin-bottom: 30px;
}

#anony-time > .wrapper .main > ul li .cover {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

#anony-time > .wrapper .main > ul li .cover img {
  width: 100px;
  height: 141px;
  border-width: 0;
  vertical-align: middle;
}

#anony-time > .wrapper .main > ul li .title {
  color: #333333;
  font-size: 13px;
  line-height: 1.38;
}

#anony-time > .wrapper .main > ul li .type {
  color: #999999;
  line-height: 1;
  margin-top: 10px;
  display: block;
  text-align: center;
}

#anony-video {
  padding: 10px 0;
  margin-bottom: 30px;
  min-height: 200px;
}

#anony-video .wrapper {
  zoom: 1;
  width: 980px;
  margin: 0 auto;
}

#anony-video .wrapper .sidenav {
  float: left;
  width: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

#anony-video .wrapper .sidenav .section-title {
  margin-bottom: 15px;
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-video .wrapper .sidenav .section-title a {
  color: #494949;
  font-size: 24px;
}

#anony-video .wrapper .main {
  overflow: hidden;
  zoom: 1;
}

#anony-video .wrapper .main h2 {
  margin-bottom: 15px;
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-video .wrapper .main .video-list {
  margin-bottom: 25px;
}

#anony-video .wrapper .main .video-list li {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  margin-right: 20px;
}

#anony-video .wrapper .main .video-list li .cover {
  height: 140px;
  margin-bottom: 11px;
}

#anony-video .wrapper .main .video-list li .cover a {
  position: relative;
  display: block;
  color: #fff;
  height: 100%;
  z-index: 1;
}

#anony-video .wrapper .main .video-list li .cover a img {
  width: 250px;
  height: 140px;
  z-index: 21;
}

#anony-video .wrapper .main .video-list li .cover a span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}

#anony-video .wrapper .main .video-list li .cover a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin: auto;
  background: url("/assets/images/play.png") center/18px no-repeat;
}

#anony-video .wrapper .main .video-list li .video-title {
  font-size: 13px;
  line-height: 1.54;
  color: #494949;
}

#anony-movie {
  padding: 40px 0 20px;
  background: #f7f7f7;
  margin-bottom: 30px;
  min-height: 200px;
}

#anony-movie > .wrapper {
  width: 950px;
  height: 526px;
  margin: 0 auto;
  zoom: 1;
  color: #111;
}

#anony-movie > .wrapper > .sidenav {
  float: left;
  width: 100px;
  margin-right: 20px;
}

#anony-movie > .wrapper > .sidenav h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-movie > .wrapper > .sidenav h2 a {
  color: #27a;
  font-size: 24px;
}

#anony-movie > .wrapper > .sidenav .side-links {
  margin-bottom: 40px;
}

#anony-movie > .wrapper > .sidenav .side-links ul li {
  position: relative;
  margin-top: 5px;
  font-size: 14px;
}

#anony-movie > .wrapper > .sidenav .side-links ul li a {
  color: #27a;
}

#anony-movie > .wrapper > .sidenav .side-links ul .site-nav-bt img {
  top: -5px;
  position: relative;
}

#anony-movie > .wrapper > .side {
  float: right;
  width: 265px;
  margin-left: 30px;
}

#anony-movie > .wrapper > .side .mod {
  margin-bottom: 30px;
}

#anony-movie > .wrapper > .side .mod h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-movie > .wrapper > .side .mod h2 .pl {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}

#anony-movie > .wrapper > .side .mod h2 .pl a {
  color: #27a;
}

#anony-movie > .wrapper > .side .mod .tags {
  font-size: 0;
  letter-spacing: -.31em;
}

#anony-movie > .wrapper > .side .mod .tags ul {
  margin-top: -4px;
}

#anony-movie > .wrapper > .side .mod .tags ul li {
  width: 4em;
  margin-top: 4px;
  text-align: left;
  display: inline-block;
  zoom: 1;
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
}

#anony-movie > .wrapper > .side .mod .tags ul li a {
  color: #27a;
}

#anony-movie > .wrapper > .side .list1 ol li {
  margin-bottom: 6px;
  padding-bottom: 5px;
  list-style-type: decimal;
  list-style-position: inside;
  border-bottom: 1px solid #eaeaea;
}

#anony-movie > .wrapper > .side .list1 ol li a {
  margin-left: 5px;
  color: #27a;
  font-size: 12px;
}

#anony-movie > .wrapper > .main {
  overflow: hidden;
  zoom: 1;
}

#anony-movie > .wrapper > .main h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-movie > .wrapper > .main h2 .pl {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}

#anony-movie > .wrapper > .main h2 .pl a {
  color: #27a;
}

#anony-movie > .wrapper > .main .movie-list {
  font-size: 0;
  letter-spacing: -.31em;
  height: 526px;
}

#anony-movie > .wrapper > .main .movie-list ul {
  margin-top: -40px;
}

#anony-movie > .wrapper > .main .movie-list ul li {
  display: inline-block;
  zoom: 1;
  width: 24.8%;
  height: 220px;
  margin-top: 40px;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
}

#anony-movie > .wrapper > .main .movie-list ul li div {
  margin-bottom: 5px;
}

#anony-movie > .wrapper > .main .movie-list ul li .pic {
  height: 145px;
  overflow: hidden;
}

#anony-movie > .wrapper > .main .movie-list ul li .title {
  line-height: 1.45;
  font-size: 13px;
  margin-bottom: 4px;
  word-wrap: break-word;
}

#anony-movie > .wrapper > .main .movie-list ul li .title a {
  color: #333;
}

#anony-movie > .wrapper > .main .movie-list ul li .rating {
  margin-bottom: 4px;
}

#anony-movie > .wrapper > .main .movie-list ul li .rating .span {
  background-position: 0 -22px;
  display: inline-block;
  zoom: 1;
  background: url("/assets/images/ic_rating_s.png") no-repeat;
}

#anony-movie > .wrapper > .main .movie-list ul li .rating i {
  margin-left: 4px;
  color: #e09015;
}

#anony-movie > .wrapper > .main .movie-list ul li > a {
  background: #1c8bd0;
  color: #fff;
  height: 23px;
  width: 68px;
  padding: 2px 10px;
  line-height: 1.26em;
}

#anony-events {
  padding: 10px 0;
  margin-bottom: 30px;
  min-height: 200px;
}

#anony-events .wrapper {
  width: 950px;
  height: 338px;
  margin: 0 auto;
  zoom: 1;
}

#anony-events .wrapper > .sidenav {
  float: left;
  width: 100px;
  margin-right: 20px;
}

#anony-events .wrapper > .sidenav h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-events .wrapper > .sidenav h2 a {
  color: #ec5303;
}

#anony-events .wrapper > .sidenav .side-links {
  margin-bottom: 40px;
}

#anony-events .wrapper > .sidenav .side-links ul li {
  position: relative;
  margin-top: 5px;
  font-size: 14px;
}

#anony-events .wrapper > .sidenav .side-links ul li a {
  color: #643;
  line-height: 1.62;
}

#anony-events .wrapper > .sidenav .side-links ul li a:hover {
  background: #37a;
}

#anony-events .wrapper > .side {
  float: right;
  width: 265px;
  margin-left: 30px;
}

#anony-events .wrapper > .side .mod {
  margin-bottom: 30px;
}

#anony-events .wrapper > .side .mod h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-events .wrapper > .side .mod .cate {
  margin-bottom: 10px;
  line-height: 1.62;
}

#anony-events .wrapper > .side .mod .cate ul {
  margin-left: -10px;
}

#anony-events .wrapper > .side .mod .cate ul .cate-label {
  width: 100%;
  margin-bottom: 2px;
  font-size: 14px;
  color: #333;
  line-height: 1.62;
}

#anony-events .wrapper > .side .mod .cate ul .cate-label a {
  color: #643;
  font-size: 12px;
}

#anony-events .wrapper > .side .mod .cate ul li {
  display: inline-block;
  zoom: 1;
  margin-left: 10px;
}

#anony-events .wrapper > .side .mod .cate ul li a {
  color: #643;
  font-size: 12px;
}

#anony-events .wrapper > .main {
  overflow: hidden;
  zoom: 1;
}

#anony-events .wrapper > .main h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}

#anony-events .wrapper > .main h2 .pl {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}

#anony-events .wrapper > .main h2 .pl a {
  color: #643;
}

#anony-events .wrapper > .main .list {
  font-size: 0;
  letter-spacing: -.31em;
}

#anony-events .wrapper > .main .list ul {
  margin-left: -20px;
  margin-top: -40px;
  line-height: 1.62;
}

#anony-events .wrapper > .main .list ul li {
  width: 248px;
  margin-left: 20px;
  text-align: left;
  overflow: hidden;
  zoom: 1;
  margin-top: 40px;
  vertical-align: top;
  display: inline-block;
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
}

#anony-events .wrapper > .main .list ul li .pic {
  float: left;
  margin-right: 10px;
}

#anony-events .wrapper > .main .list ul li .info {
  overflow: hidden;
  zoom: 1;
  color: #666;
}

#anony-events .wrapper > .main .list ul li .info .title {
  line-height: 1.45;
  font-size: 13px;
  margin-bottom: 4px;
  word-wrap: break-word;
}

#anony-events .wrapper > .main .list ul li .info .title a {
  color: #643;
}

#anony-events .wrapper > .main .list ul li .info .title a span {
  background-color: #ff8263;
  vertical-align: baseline;
  color: #fff;
  font-weight: 200;
  font-size: 11px;
  line-height: 17px;
  padding: 0 3px;
  border-radius: 3px;
  margin-bottom: 3px;
}

#footer {
  width: 950px;
  margin: 0 auto;
}

#footer #ft {
  overflow: hidden;
  zoom: 1;
  padding: 14px 0;
  margin-top: 30px;
  border-top: 1px dashed #dcdcdc;
  color: #999;
}

#footer #ft #icp {
  float: left;
  color: #999;
}

#footer #ft #icp a {
  color: #37a;
}

#footer #ft #icp a:hover {
  color: #fff;
  text-decoration: none;
  background: #37a;
}

#footer #ft .fright {
  float: right;
}

#footer #ft .fright a {
  color: #37a;
}

#footer #ft .fright a:hover {
  color: #fff;
  text-decoration: none;
  background: #37a;
}

#footer #ft .fright a img {
  border-width: 0;
  vertical-align: middle;
}
